

nav .navbar{
  position: sticky;
  top: 0;
  z-index: 200;
}

.nav-link{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  font-weight: 400;
}

.carousel-item{
  margin-left: 0;
  margin-right: 0;
}
.carousel-item img{
  width: 1200px;
  height: 572px;
}

.carousel-caption {
  color: #3C3741;
  background-color: #D6DAC2;
  padding: 5px 5px;
  opacity: 0.6;
  cursor: pointer;
}

.row h4{
  opacity: 0.8;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
  color: #e74c3c;
}

.row p{
  font-size: 18px;
  font-family: 'Barlow Condensed', sans-serif;
}

/*section .row {
  background: url(img/img1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0;
}*/

.card{
  margin-top: 15px;
  padding-top: 10px;
  overflow: auto;
  transition: all .2s ease-in-out;
  opacity: 0.9;
  cursor: pointer;
}

.card:hover{
  opacity: 1;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
  z-index: 10;
}

.card {
   background: linear-gradient(to bottom, #1c92d2, #f2fcfe);
}

.formgroup{
  margin-left: 200px;
  margin-right: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #CF000F;
  font-family: 'Barlow Condensed', sans-serif;      
}

section .formcontent{
  border-left: 2px solid #BADA55;
}

#form_main{
    background: url(img/back1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.canva{
    width: 320px;
    height: auto;
}

.back_hero{
  background: url(img/img1.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 80px;
}

/*article .jumbotron{
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
}*/

article .jumbotron:hover{
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
}

footer .fa{
  size: 10px;
}

footer .fa:hover {
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
}

